// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&family=Raleway&display=swap');

body{
  box-sizing: border-box;
  position: relative;

}
.wrapper{
  min-width: 100%;
  overflow: hidden;
  z-index: 0;

}
.container {
  max-width: 1143px;
  margin: 0 auto;
}

.title {
  opacity: 0.9;
  font-size: 38px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
  text-align: center;
  font-family: Montserrat;
}

.header {
  padding: 64px 20px 0 20px;
  background-color: #f0f1f3;
  font-family: Montserrat, serif ;
  &__logo{
    box-sizing: border-box;
    text-align: center;
    width: 113px;
    border: 5.6px solid #170f1c;
    font-size: 17px;
    line-height: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-shadow: 0 0 2px rgba(21,21,22,0.75);
    color: #000000;
    margin: 0 0 200px 0;
    & span{
      font-size: 21px;
      color: #77efe5;
    }
  }

  &__row {
    word-wrap: break-word;
    text-align: center;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-shadow: 4px 8px 10px rgba(0,0,0,0.23);
    color: #505050;
    margin: 0 0 142px 0;
    & p{
      margin: 0 0 15px 0;
      &:last-child{
        margin: 0;
      }
    }
    & span{
      padding: 0 13px;
      background-color: rgba(118, 244, 234, 0.5);
    }
  }
}

.contact {
  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__btn {
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    width: 232px;
    height: 53px;
    text-align: center;

    & a {
      opacity: 0.74;
      font-size: 18px;
      line-height: 50px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.12em;
      color: #000000;
      transition: all 0.2s ease-out 0s;
      &:hover {
        font-size: 24px;
        font-weight: 700;


      }
    }

  }


  &__glass {
    padding: 0 100px 0 0;
    //margin: 0 0 138px 0;
    margin: 0 0 195px 0;
    align-self: end;
    position: relative;

    & img:nth-child(1) {
      position: absolute;
      z-index: 5;
      top: -24px;
      left: -55px;
    }

    & img:nth-child(2) {
      position: absolute;
      z-index: 2;
      top: -28px;
      left: -75px;
    }

    & img:nth-child(3) {
      position: absolute;
      z-index: 0;
      top: -12px;
      left: -69px;
      box-shadow: 5px 5px 5px #8a8a8a;
    }
  }
}

@media (max-width: 612px) {
  .contact__glass img {
    margin: 50px 0 0 0;
  }
}
@media(max-width: 800px){
  .about__row{
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  .about__image {
    margin: 0 0 30px 0;
    max-width: 392px;
    align-self: center;
  }
  .about__image img{
    //margin: 0 ;
    width: 100%;
    height: 100%;
  }
  .about__body{
    text-align: center;
  }
  .about__max {
    padding: 0;
  }
}
@media(max-width: 1116px) {
  .forms {
    &__input {
      margin: 0 0 30px 0;
    }
    &__row {
      //display: flex;
      //flex-direction: column;
      //align-items: center;
      justify-content: end;
    }
    &__map{
      max-width: 100%;
    }
  }
}
@media(max-width: 620px) {
  .footer {
    &__top {
      padding: 121px 30px;
      background: url("/img/footer/bg.png") 100%/cover no-repeat;
    }
  }


  }


.about {
  background-color: #f8fafa;
  padding: 130px 0 0 0;
  &__max {
    padding: 0 0 0 6px;
    //max-width: 1023px;
    max-width: 1060px;
    margin: 0 auto;
  }

  &__title {
    margin: 0 0 14px 22px;
  }
  &__subtitle {
    text-align: center;
    opacity: 0.61;
    font-family: Merriweather;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #000000;
    margin: 0 0 145px 0;
  }

  &__row {
    margin: 0 0 0 27px;
    display: flex;
    justify-content: space-between;

  }

  &__image img{
    flex: 0 0 392px;
    margin: 0 163px 0 0;
    background-color: #e4e5e8;
    box-shadow: 0px 0px 30px 0px rgba(20,20,21,0.12);
    align-self: start;
  }

  &__body {
    //padding: 0 0 0 123px;
    flex: 1 1 auto;
  }
  &__text{
    margin: 0 0 230px 0;

    & h2{
      opacity: 0.74;
      font-family: Merriweather;
      font-size: 20px;
      line-height: 22px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.06em;
      color: #000000;
      margin: 0 0 25px 0;
    }
    & p{
      opacity: 0.74;
      font-family: Raleway;
      font-size: 16px;
      line-height: 28px;
      font-weight: 400;
      letter-spacing: 0.045em;
      color: #000000;
      margin: 0 0 28px 0;
      &:last-child{
        margin: 0;
      }
    }
    & h3{
      opacity: 0.74;
      font-family: Merriweather;
      font-size: 17px;
      line-height: 28px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.06em;
      color: #000000;
      margin: 0 0 10px 0;
    }

  }
}
.featured {
  padding: 125px 20px 0 20px;
  &__title {
    margin: 0 0 10px 0;
  }
  &__subtitle {
    text-align: center;
    opacity: 0.61;
    font-family: Merriweather;
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #000000;
    margin: 0 0 107px 0;
  }

  &__row {
  margin: 0 0 125px 0;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7.5px;
  }

  &__item {
    flex: 1 1 auto;
    &:hover{
      cursor: pointer;
    }
    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    padding: 6.5px 7.5px;
  }
}

.team {
  background-color: #f9fbfb;
  padding: 92px 0 0 0;
  &__title {
    margin: 0 0 10px 0;
  }
  &__subtitle {
    text-align: center;
    opacity: 0.61;
    font-family: Merriweather;
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #000000;
    margin: 0 0 110px 0;
  }
  &__row {
    padding: 0 0 179.5px 0;

  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7.5px;
  }
  &__item {
    flex: 1 1 auto;
    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    padding: 7px 7.5px;


//-------------------------------------------
    position: relative;
    &:hover{
      .team__hover{
        opacity: 1;
        visibility: visible;
        transition: all 0.5s linear 0s;
      }
    }
  }
  &__hover {
    position: absolute;
    top: 188px;
    left: 25px;
    background-color: rgb(113, 247, 236);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s linear 0s;
    &:after{
      content: '';
      position: absolute;
      top: -37px;
      left: 20px;
      border: 20px solid transparent;
      border-bottom: 20px solid rgb(113, 247, 236);
    }
  }
}
.hover {
  &__body {
    flex: 1 1 auto;
    max-width: 335px;
    max-height: 241px;
    padding: 38px 30px 0 38px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    opacity: 0.94;
    font-family: Merriweather;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #272727;
    margin: 0 0 13px 0;
    & span{
      font-size: 15px;
      font-weight: 400;
      font-style: italic;
      letter-spacing: 0.03em;
      color: #767070;
    }
  }
  &__text {
    flex: 1 1 auto;
    min-height: 80px;
    opacity: 0.8;
    font-family: Raleway;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #000000;
    margin: 0 0 39px 0;
    overflow-y: auto;

  }
  &__links {
    max-width: 90px;
    flex: 0 0 90px;
  }
  &__row {
    display: flex;
    justify-content: space-between;

  }

  &item{
    width: 40px;
    height: 40px;
  }

  &__link{
    opacity: 0.7;
    font-family: 'Font Awesome';
    font-size: 13.5px;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #000000;
    margin: 0 0 30px 0;

    &:hover{
      font-size: 18px;
      opacity: 1;
      border-bottom: 2px solid rgba(0, 0, 0, 0.29);
      transition: all 180ms linear 0s;

    }
  }
}


.forms {
  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__input {
    display: flex;
    flex: 0 1 auto;
    background-color: rgba(2, 22, 35, 0.7);
    box-shadow: 0 0 30px 0 rgba(21,21,21,0.11);
    //width: 614px;
    padding: 24px 32px 35px 32px;
    & button{
      font-family: Montserrat;
      font-size: 18px;
      line-height: 53px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.12em;
      color: rgba(0, 0, 0, 0.7);
      background-color: #6eeee4;
      border-radius: 2px;
      padding: 0 35px;
      transition: all 100ms ease-in-out 0s;
      &:hover{
        background-color: #eedd6e;
        box-shadow: 0 0 5px #fff;
      }
    }
    & textarea{
      margin: 0 0 38px 0;
      height: 125px;
      width: 550px;
    }
  }
  &__item{
    flex: 1 1 auto;
    background-color: rgba(2, 22, 35, 0);
    font-family: Raleway;
    font-size: 15px;
    line-height: 51px;
    font-weight: 400;
    width: 100%;
    border: 0 solid transparent;
    border-bottom: 2px solid #53616b;
    outline: none;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 0 6px 0;
  }
  &__map {
    background-color: rgba(2, 22, 35, 0.7);
    flex: 0 1 auto;
  }
  &__body {
    padding: 25px 23px 19px 23px;
    flex: 1 1 auto;
  }
  &__text {
    opacity: 0.7;
    font-family: Raleway;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    padding: 0 0 0 7px;
    margin: 0 0 20px 0;
  }
  &__list {
    & li:nth-child(4){
      margin: 0 0 25px 0;
    }
  }
}

.map__item {
  & iframe{
    width: 455px;
    height: 224px;
    }
  }

.footer {

  &__background{
  }

  &__top{
    padding: 121px 0;
    background: url("img/footer/bg.png") 100%/cover no-repeat;
    min-width: 100%;
  }
  &__bot{
    background-color: #262b2e;
  }
  &__forms {
  }
  &__body {
      padding: 83px 0 0 0;
      margin: 0 auto;
      height: 315px;
      max-width: 205px;
    }
  &__social {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 205px;
    }
  &__text {
      opacity: 0.8;
      font-family: Raleway, serif;
      font-size: 16px;
      line-height: 25px;
      font-weight: 400;
      letter-spacing: 0.01em;
      color: #ffffff;
      margin: 0 0 19px 0;
    }
  &__list {
      min-width: 205px;
      display: flex;
      justify-content: space-between;
    }
  &__link {
      width: 46px;
      height: 40px;
      opacity: 0.19;
      background-color: #8a8a8a;
      text-align: center;
      &:first-child {
        opacity: 0.91;
        background-color: #71f6eb;
        & a {
          color: #000000;
        }
      }
      & a {
        color: #faf4f4;
        font-size: 23.6px;
        line-height: 40px;
        transition: all 50ms ease-in-out 0s;

        &:hover {
          font-size: 30px;
        }
      }
    }
  }

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.8);
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  overflow-y: scroll;
  &__body{
    display: flex;
  }
  &__content {
    max-width: 600px;
    flex: 1 1 auto;
    background-color: white;
    color: black;
    position: relative;
  }

  & img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    color: #000;
    width: 20px;
    height: 20px;
    text-decoration: none;
    &:hover{
      width: 25px;
      height: 25px;
      box-shadow: 0 0 6px #ffffff;
      transition: all 80ms ease-in 0s;
      .popup__close img{
        opacity: 0.8;
      }
    }
    & img{
      max-width: 100%;
      max-height: 100%;
      opacity: 0.2;
    }
  }
  &__body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
  }
}















